body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}


.profile-img{
    width: 110px !important;
    height: 110px !important;;
}
.icon-color{
    color: #BBC8E2;
}
.c-p{
    cursor: pointer;
}
.project-detail{
    .profile-img{
        width: 138px !important;
        height: 138px !important;;
    }
}

.twitter-color{
    color: #00ACEE;
}
.discord-color{
    color: #4F5ECB;
}
.color-green{
    color: #45d386;
}

