@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: #f5f5f5;
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1011px;
}
.arrow-btn {
    border: 2px solid #2081e2;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: #ffffff;
    color: #2081e2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-primery {
    background: #2081e2;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    min-width: 161px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-weight: 700;
    border: none;
}
.w-40 {
    width: 40% !important;
}
.h-34 {
    height: 34px !important;
}
.mt-3px {
    margin-top: 3px !important;
}

.mt70 {
    margin-top: 70px;
}

/*============================== 
header
================================= */

header {
    background-color: #fff;
    box-shadow: 0px 3px 10px #0000000a;
    min-height: 77px;
}

header .logo {
    min-height: 77px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #1f1f1f;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-left: 24px;
}

header .code {
    min-height: 77px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Inter", sans-serif;
    color: #2081e2;
    font-size: 22px;
    font-weight: 600;
    padding-right: 31px;
}

/* ==============================
Page header
================================= */
.page-header {
    margin-top: 50px;
}
.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}

/* 320px — 480px: Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    header .logo {
        padding-left: 0px;
    }
    header .code {
        min-height: 77px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    header .dropdown-menu {
        left: 2% !important;
    }
    header #navbarDropdown {
        padding: 0px;
    }
    #embedCode,
    .playBackUrlMaster {
        width: 100%;
        width: -moz-available; /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
        width: fill-available;
    }
    .playBackUrlMaster a {
        display: block;
        overflow: hidden;
        white-space: unset !important;
        overflow-wrap: break-word;
    }
}

/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}

/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* 1025px — 1200px: Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* 1201px and more —  Extra large screens, TV */
@media only screen and (min-width: 1201px) {
}
